<div class="container mx-auto">
  <h1 class="text-3xl font-bold mb-4">List of Vehicles</h1>
  <table mat-table [dataSource]="vehicles" class="mat-elevation-z8 w-full">
    <!-- Placa Column -->
    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef> Placa </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.placa}} </td>
    </ng-container>

    <!-- Modelo Column -->
    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef> Modelo </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.modelo}} </td>
    </ng-container>

    <!-- Marca Column -->
    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.marca}} </td>
    </ng-container>

    <!-- Botão de Editar -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let vehicle">
        <button mat-raised-button color="primary" [routerLink]="['/edit-vehicle', vehicle.id]">
          Editar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['placa', 'modelo', 'marca', 'edit']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['placa', 'modelo', 'marca', 'edit'];"></tr>
  </table>
</div>
