<div *ngIf="vehicle" class="container mx-4 mt-4">
    <h1 class="text-3xl font-bold">Editar Veículo</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <mat-form-field appearance="fill">
        <mat-label>Placa</mat-label>
        <input matInput [(ngModel)]="vehicle.placa">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Chassi</mat-label>
        <input matInput [(ngModel)]="vehicle.chassi">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Renavam</mat-label>
        <input matInput [(ngModel)]="vehicle.renavam">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Modelo</mat-label>
        <input matInput [(ngModel)]="vehicle.modelo">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <input matInput [(ngModel)]="vehicle.marca">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Ano</mat-label>
        <input matInput [(ngModel)]="vehicle.ano">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="saveVehicle()" class="w-16">Salvar</button>
  </div>
  